@font-face {
    font-family: 'poetsenOne';
    src: url(fonts/PoetsenOne-Regular.ttf);
}
@font-face {
    font-family: 'musticaPro';
    src: url(fonts/MusticaPro-SemiBold.otf);
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5 {
    font-family: 'poetsenOne', sans-serif;
}

p {
    font-family: 'musticaPro', sans-serif;
}

body {
    background-color: #FDEBD3;
    margin: 0px;
}

/* navigation style */
.navbar-nav {
    position: fixed;
    list-style-type: none;
    background-color: #FDEBD3;
    

}

.navbar {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #FDEBD3;
    z-index: 9999;
}

    
.nav-link {
    color: #F99A71;
}

.corner-br {
    background:
    linear-gradient(to left, #F99A71 8px, transparent 8px) 100% 100%,
    linear-gradient(to top, #F99A71 8px, transparent 8px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 70px 70px;
}

.corner-tl {
    background:
    linear-gradient(to right, #F99A71 8px, transparent 8px) 0 0,
    linear-gradient(to bottom, #F99A71 8px, transparent 8px) 0 0;   
    background-repeat: no-repeat;
    background-size: 70px 70px; 
}

hr {
    height:14px; /* specify a height for this hr */
    overflow: hidden;
}
    
hr:after {
    content:"- - - - - - - - ";
    
    color:  #F99A71;
    font-size: 103px;
}

/* .card {
    background-color: #679186;
    color: #FDEBD3;
    height: 350px;
} */

.middle{
    padding: 10px;
}

a:hover{
    text-decoration: none;
}

.title {
    color: #264e70;
}
#arctable td{background-color: #f2f2f2;border: 3px solid #44A49F;padding: 12px;}
#jessjourney td{background-color: #f2f2f2;border: 3px solid #c7a2ff;padding: 12px;}
#robjourney td{background-color: #f2f2f2;border: 3px solid #e9a15c;padding: 12px;}

#arctable th {
    padding: 12px;
    text-align: center;
    background-color: #72c5c1;
    color: white;
    border: 3px solid #44A49F;
    
  }
#jessjourney th {
    padding: 12px;
    text-align: center;
    background-color: #845EC2;
    color: white;
    border: 3px solid #c7a2ff;
    
  }

  #robjourney th {
    padding: 12px;
    text-align: center;
    background-color: #954A05;
    color: white;
    border: 3px solid #e9a15c;
  }

  ol.t {
    list-style-type: upper-alpha;
  }

  td{
    vertical-align: top;
  }


.flex-container {
    display: flex;
    flex-direction: row;
   
}

.flex-child {
    padding: 10px;
    
}  

@media only screen and (min-width: 992px) {
 

}


